body {
    margin: 0px;
    box-sizing: content-box;

    background-color: #191C21;
}

.exception-monitor {
    color: #8C93A7;
    background-color: #191C21;
    font-family: 'BlinkMacSystemFont', 'Lucida Grande', 'Segoe UI', Ubuntu, Cantarell, sans-serif;

    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.exception-monitor .header-frame {
    border-bottom: 1px solid #131418;

    padding: 20px;
    min-height: 50px;
    /* height: 50px; */
    overflow: hidden;
}

.exception-monitor .header-frame .exception-class {
    font-size: 12px;
    color: red;
}

.exception-monitor .header-frame .exception-message {
    font-size: 18px;
    color: #CED1D9;
}

.exception-monitor .content-frame {
    display: flex;
    height: calc(100vh - 90px);
}

.exception-monitor .trace-frame {
    border-right: 1px solid #131418;

    width: 350px;
    min-width: 350px;
    overflow: auto;
}

.exception-monitor .trace-frame::-webkit-scrollbar {
    display: none;
}

.exception-monitor .trace-entry {
    margin: 8px 8px;
    padding: 15px;
    background-color: #21242D;
    word-wrap: break-word;
    word-break: break-all;
    cursor: pointer;
    border-radius: 3px;
    border-left: 3px solid #21242D;
    border-right: 3px solid #21242D;
}

.exception-monitor .trace-entry.trace-entry-selected {
    border-right: 3px solid #4772FF;
    color: #CED1D9;
}

.exception-monitor .trace-entry .error-exceptiron-number {
    color: red;
    font-size: 12px;
}

.exception-monitor .trace-entry .error-exception-file-path {
    font-size: 12px;
}

.exception-monitor .code-frame {
    background-color: #1E2128;
    font-family: Inconsolata, Monaco, Consolas, 'Courier New', Courier;
    font-size: 11px;

    padding: 15px;
    overflow: auto;
    width: calc(100% - 300px);
}
